<section>
    <article>
        <div class="container">
            <div class="columns">
                <div class="column is-12">
                    <form [formGroup]="searchForm">
                        <div class="field">
                            <label class="label has-text-white">{{ 'pokemonsComponent.NAME' | translate }}</label>
                            <div class="control">
                                <input #searchInput class="input" type="text" formControlName="name"
                                    [placeholder]="'pokemonsComponent.SEARCH_NAME' | translate">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="columns is-flex-wrap-wrap is-hidden-mobile" infiniteScroll [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="20" [infiniteScrollDisabled]="infiniteScrollDisabled" (scrolled)="onScroll()">
                <div class="column is-3-desktop is-6-tablet" *ngFor="let pokemon of pokemons">
                    <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
                </div>
            </div>
            <div class="columns is-hidden-tablet" *ngIf="pokemons.length > 0">
                <div class="column is-full is-mobile is-carrousel">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let pokemon of pokemons" class="slide is-full-mobile">
                            <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
            <div class="columns" *ngIf="!loading && pokemons.length == 0">
                <div class="column">
                    <p class="error-message">
                        {{'pokemonsComponent.NO_RESULTS_FOUND' | translate}}
                    </p>
                </div>
            </div>
            <div class="columns loader-box" *ngIf="loading">
                <div class="column is-6 is-offset-3">
                    <div class="loader-wrapper is-active" [class.is-active]="loading">
                        <div class="loader is-loading"></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>