@import "~src/scss/variables";

.columns {
    .column {
        &.is-carrousel {
            ::ng-deep {
                .slick-slide {
                    margin: 20px 20px;
                }
            }
        }

        .error-message {
            text-align: center;
            color: $white;
            font-size: 22px;
            line-height: 150%;
        }
    }
}
