@import "~src/scss/variables";

.card {
    height: 100%;
    box-shadow: 0 0.5em 1em -0.125em $box-shadow, 0 0px 0 1px $box-shadow;
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;

    &:hover {
        @media (min-width: 992px) {
            transform: scale(1.05);
        }
    }

    a {
        height: 100%;
        display: block;
        .card-image {
            position: relative;
            padding: 20px 0;

            .image {
                img {
                    object-fit: contain;
                    z-index: 2;
                }
            }

            .bluredImage {
                position: absolute;
                width: 100%;
                height: calc(100% + 40px);
                top: -20px;
                left: 0;
                opacity: 0.4;
                z-index: 1;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .pokemon-name {
            color: $purple;
            text-align: center;
        }

        .pokemon-id {
            color: $grey-2;
            text-align: center;
        }

        p {
            color: $black;
        }

        .card-types {
            color: $grey-2;
            text-align: center;
        }

        .tags {
            justify-content: center;
        }
    }
}
