<section class="is-marginless is-paddingless">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <ul class="languages is-pulled-right">
                        <li>
                            <a (click)="setLanguage('pt-BR')" [title]="'appComponent.PORTUGUESE_LANGUAGE' | translate" [class.disabled]="language != 'pt-BR' && language != 'pt'">
                                <img src="assets/images/BR.png" [alt]="'appComponent.PORTUGUESE_LANGUAGE' | translate">
                            </a>
                        </li>
                        <li>
                            <a (click)="setLanguage('en-US')" [title]="'appComponent.ENGLISH_LANGUAGE' | translate" [class.disabled]="language != 'en-US' && language != 'en'">
                                <img src="assets/images/USA.png" [alt]="'appComponent.ENGLISH_LANGUAGE' | translate">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
</section>
<router-outlet></router-outlet>