@import "~src/scss/variables";

section {
    .breadcrumb {
        li {
            a {
                color: $grey-1;
            }
            &.is-active {
                a {
                    font-weight: 600;
                    color: $white;
                }
            }
        }
    }

    .tile {
        &.is-horizontal {
            display: flex;
            flex-wrap: wrap;
        }

        .title {
            margin-top: 10px;
            font-size: 20px;
            color: $purple;
        }

        .subtitle {
            font-size: 18px;
            color: $grey-2;
            font-weight: 500;
        }

        &.is-12-mobile {
            @media (max-width: 768px) {
                width: 100%;
                flex: 0 0 100%;
            }
        }
    }

    .button + .sub-title {
        margin-top: 20px;
    }
}
