<section>
    <article>
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a title="Home" routerLink="/">Home</a>
                    </li>
                    <li class="is-active">
                        <a [title]="'pokemonDetailsComponent.BREADCRUMB' | translate" [routerLink]="['/details', pokemon?.id]">{{'pokemonDetailsComponent.BREADCRUMB' |
                            translate}}</a>
                    </li>
                </ul>
            </nav>
            <div class="tile is-ancestor">
                <div class="tile is-horizontal is-6">
                    <div class="tile is-parent is-full">
                        <article class="tile is-child notification is-horizontal is-white image-tile">

                            <div class="tile is-parent is-6-tablet is-white is-12-mobile">
                                <article class="tile is-child notification is-white image-tile">
                                    <figure class="image">
                                        <img [src]="pokemon?.image?.large" [alt]="pokemon?.name">
                                    </figure>
                                </article>
                            </div>


                            <div class="tile is-parent is-6-tablet is-white is-12-mobile is-paddingless">
                                <article class="tile is-child notification is-white is-paddingless">
                                    <p class="title">{{'pokemonDetailsComponent.POKEMON_NAME_LABEL' | translate}}: {{pokemon?.name}}</p>
                                    <p class="subtitle is-marginless">{{'pokemonDetailsComponent.POKEMON_ID_LABEL' | translate}}: {{pokemon?.id}}</p>
                                </article>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-vertical is-6 is-white">
                    <div class="tile is-parent is-full">
                        <article class="tile is-child notification is-white">
                            <p class="title">{{'pokemonDetailsComponent.POKEMON_TYPES_LABEL' | translate}}</p>
                            <p class="sub-title" *ngIf="pokemon?.types?.length == 0">{{'pokemonDetailsComponent.NO_TYPE_REGISTERED' | translate}}</p>
                            <div class="tags are-medium">
                                <span class="tag is-success" *ngFor="let type of pokemon.types">{{type}}</span>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-full">
                        <article class="tile is-child notification is-white">
                            <p class="title">{{'pokemonDetailsComponent.POKEMON_RESISTANCES_LABEL' | translate}}</p>
                            <p class="sub-title" *ngIf="pokemon?.resistances?.length == 0">{{'pokemonDetailsComponent.NO_RESISTANCE_REGISTERED' | translate}}</p>
                            <div class="tags are-medium">
                                <span class="tag is-success"
                                    *ngFor="let resistance of pokemon?.resistances">{{resistance.type}}</span>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-full">
                        <article class="tile is-child notification is-white">
                            <a class="button is-info is-medium" id="openModalButton"
                                [class.disabled]="pokemon?.attacks?.length == 0" [title]="'pokemonDetailsComponent.POKEMON_SEE_ATTACKS_BUTTON_TEXT' | translate"
                                (click)="openModal()">{{'pokemonDetailsComponent.POKEMON_SEE_ATTACKS_BUTTON_TEXT' | translate}}</a>

                            <p class="sub-title" *ngIf="pokemon?.types?.length == 0">{{'pokemonDetailsComponent.NO_ATTACK_REGISTERED' | translate}}</p>
                        </article>
                    </div>
                </div>
            </div>

            <div class="columns has-negative-margin">
                <div class="column">
                    <a class="button is-link is-medium" [title]="'pokemonDetailsComponent.BACK_BUTTON' | translate" routerLink="/" id="backButton">{{'pokemonDetailsComponent.BACK_BUTTON' | translate}}</a>
                </div>
            </div>
        </div>
    </article>
</section>