@import "~src/scss/variables";
/*
    Grid Start
*/

.container {
    max-width: 1100px;
    padding: 0 16px;
}

.columns {
    margin: 0;

    &:last-child {
        margin: 0;
        margin-bottom: 0;
    }

    &.has-negative-margin {
        margin-left: -16px;
        margin-right: -16px;
    }
    .column {
        padding-left: 16px;
        padding-right: 16px;

        &.is-paddingless-vertical {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

/*
    Grid finish
*/

/*
   Spacement start
*/

section {
    padding: 60px 0;
    @media (max-width: 768px) {
        padding: 30px 0;
    }
    &.no-margin {
        margin-top: unset;
        margin-bottom: unset;
    }
    &.no-padding {
        padding-top: unset;
        padding-bottom: unset;
    }
    &.subtitle {
        margin-top: 16px;
    }
    &.description {
        margin-top: 32px;
    }
}

/*
   Spacement finish
*/

/* 
    Buttons
*/

.button {
    &.disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}

/* 
    Buttons finish
*/

/*
    Loader wrapper
*/

.loader-box {
    position: relative;
    width: 100%;
    height: 300px;

    &.fixed {
        position: fixed;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: rgba($black, 0.6);
        z-index: 3;
    }

    @media (max-width: 768px) {
        position: fixed;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: rgba($black, 0.6);
        z-index: 3;
    }

    .loader-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;

        .loader {
            height: 80px;
            width: 80px;
        }

        &.is-active {
            opacity: 1;
            z-index: 1;
        }
    }
}

/*
    Loader wrapper finish
*/
